/*importing Starcraft font for use*/
@import url("font/starcraft.css");
@import url("font/cascadia.css");

body {
	padding-left: 10%;
	padding-right: 10%;
}

html{
	background-image: url("data/img/ui/background.png");
	background-size: 100%;
	background-color: black;
}

p{
	color: #006400;
}

a{
	font-family: Starcraft, Verdana, sans-serif;
	font-size: 24pt;
	color: #800000;
}

li{
	font-family: Starcraft, Verdana, sans-serif;
	color: brown;
}

h1{
	font-family: Starcraft, Verdana, sans-serif;
	font-style:italic;
	color: #d2691e;
	/*line-height: 0.25;*/
}

h2{
    color: orange;
}

h3{
    font-family: Starcraft, Verdana, sans-serif;
    font-size: 34pt;
    color: orange;
    font-style: italic;
}

h4{
	font-family: Verdana, sans-serif;
	font-style:italic;
	color: chocolate;
	text-decoration: underline;
	/*line-height: 0.1;*/
}

.small-text {
	display: table;
	padding: 2px 5px;
	font-size: 10pt;
	background-color: #00000080;
}

.small-text-version {
	display: table;
	padding: 2px 5px;
	font-size: 10pt;
	font-family: sans-serif;
	background-color: #00000080;
}

.disclaimer-text {
	font-size: 10pt;
	font-family: Verdana;
	background-color: #00000080;
}

.large-text {
	font-size: 18pt;
	font-family: Cascadia, monospace;
	background-color: #00000080;
}

.large-text-link {
	margin: auto;
	width: 50%;
	font-size: 18pt;
	background-color: #00000080;
}

.title-text {
	margin: auto;
	width: 43.7%;
	font-size: 15pt;
	background-color: #00000080;
}

.warning-text {
	font-size: 18pt;
	font-style: italic;
	font-weight: bold;
	font-family: Cascadia;
	background-color: #00000080;
}

.choose-text {
	margin: auto;
	width: 50%;
	font-size: 20pt;
	background-color: #00000080;
}

.choose-text-small {
	margin: auto;
	width: 16%;
	font-size: 20pt;
	background-color: #00000080;
}

.choose-text-species {
	margin: auto;
	width: 25%;
	font-size: 20pt;
	font-family: Starcraft;
	background-color: #00000080;
}

.coming-soon {
	font-size: 16pt;
	font-family: Cascadia, monospace;
	font-style: italic;
	font-weight: bold;
}

.realm {
	font-size: 15pt;
	font-family: Cascadia, monospace;
	font-style: italic;
	font-weight: bold;
}

.rewrite {
	margin: auto;
	width: 50%;
	font-size: 20pt;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
	color: grey;
	background-color: #00000080;
}

.credits {
	margin: auto;
	width: 48%;
	font-size: 18pt;
	background-color: #00000080;
}

.link {
	font-size: 18pt;
	font-style: italic;
}

.incomplete, .warning {
	content:url(data/img/ui/warning.png);
	width: 70%;
}

.new {
	content:url(data/img/ui/new.png);
	width: 10%;
}

.beta {content:url(data/img/ui/beta.png);
    width: 10%;
}

.former {
	content:url(data/img/ui/former.png);
	width: 12%;
}

#sfw-link{
	font-size: 12pt;
}

.btn {
    background-color: transparent;
	padding: 0;
	border: none;
	outline:none
}

.cookie-banner {
  position: fixed;
  bottom: -100%;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cookie-banner.active {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 50%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  font-family: Cascadia, Verdana, Sans-serif;
  transition: 400ms;
}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.cookie-btn {
	background: #8f3f1180;
	border: 3;
	border-color: transparent;
	color: #006400;
	padding: 12px 48px;
	font-size: 18px;
	margin-bottom: 8px;
	border-radius: 8px;
	cursor: pointer;
	font-family: Starcraft, Verdana, Sans-serif;
}
