/*importing Starcraft font for use*/
@import url("font/font_family.css");

body {
	padding-left: 10%;
	padding-right: 10%;
}

html{
	background-color: black
}

p{
	color: brown;
	font-family: Verdana, sans-serif;
}

a{
	font-family: Starcraft, Verdana, sans-serif;
	font-size: 24pt;
	color: green;
}

h2{
    color: orange;
}

.small-text {
	font-size: 10pt;
}

.disclaimer-text {
	font-size: 10pt;
}

.large-text {
	font-size: 18pt;
}

.title-text {
	font-size: 30pt;
}

.warning-text {
	font-size: 18pt;
	font-style: italic;
	font-weight: bold;
}

.choose-text {
	font-size: 20pt;
}
.coming-soon {
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
}

.rewrite {
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
	color: grey;
}

.link {
	font-size: 18pt;
	font-style: italic;
}

.incomplete, .warning {
	content:url(data/img/ui/warning.png);
	width: 70%;
}

.new {
	content:url(data/img/ui/new.png);
	width: 5%;
}

#sfw-link{
	font-size: 12pt;
}

.btn {
        background-color: transparent;
	padding: 0;
	border: none;
	outline:none
}

#cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}