/*importing Starcraft font for use*/
@import url("../font/starcraft.css");
@import url("../font/cascadia.css");

body {
	padding-left: 10%;
	padding-right: 10%;
}

html{
	background-image: url(../data/img/ui/background.png);
	background-color: black;
	font-size: 16pt;
	line-height: 1.25em;
}

p{
	color: #006400;
}

a{
	font-family: Starcraft, Verdana, sans-serif;
	font-size: 18pt;
	color: #800000;
}

h1,h2 {
	display: table;
	padding: 2px 5px;
	font-family: Starcraft, Verdana, sans-serif;
	font-style:italic;
	color: chocolate;
	/*line-height: 0.25;*/
}

h3,h4,h5,h6{
	display: table;
	padding: 2px 5px;
	font-family: Verdana, sans-serif;
	color: chocolate;
	/*line-height: 0.1;*/
}	

h1 {
	text-decoration: underline;
}
/*
ol, ul {
	line-height: 0.5;
}*/

ol {
	color: transparent;
}

.large-text {
	font-size: 18pt;
	font-family: Cascadia, monospace;
	background-color: #00000080;
}

.link{
	font-style:normal;
	width: 30%;
	background-color: #00000080;
}

.top{
	font-family: Verdana, sans-serif;
	font-size: 18pt;
	color: green;
}

div.more{
	color: green;
	font-size: 15;
	font-style: italic;
	text-decoration: none;
}

.coming-soon {
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
}

.warning {
	content:url(../data/img/ui/warning.png);
	width: 70%;
}

.beta {content:url(../data/img/ui/beta.png);
    width: 5%;
}