/*importing Starcraft font for use*/
@import url("../font/font_family.css");

body {
	padding-left: 10%;
	padding-right: 10%;
}

html{
	background-color: black;
	font-size: 16pt;
	line-height: 1.25em;
}

p{
	color: brown;
	font-family: Verdana, sans-serif;
}

a{
	font-family: Verdana, sans-serif;
	font-size: 18pt;
	color: green;
}

h1,h2 {
	font-family: Starcraft, Verdana, sans-serif;
	font-style:italic;
	color: chocolate;
	/*line-height: 0.25;*/
}

h3,h4,h5,h6{
	font-family: Verdana, sans-serif;
	color: chocolate;
	/*line-height: 0.1;*/
}	

h1 {
	text-decoration: underline;
}
/*
ol, ul {
	line-height: 0.5;
}*/

.link{
	font-style:normal;
}

div.more{
	color: brown;
	font-size: 15;
	font-style: italic;
	text-decoration: none;
}

.coming-soon {
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
}

.warning {
	content:url(../data/img/ui/warning.png);
	width: 70%;